services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_ENV: ${NODE_ENV:-dev}
        SENTRY_AUTH_TOKEN: ${SENTRY_AUTH_TOKEN}
    ports:
      - "33380:18080"
    environment:
      NODE_ENV: ${NODE_ENV:-dev}
      SENTRY_AUTH_TOKEN: ${SENTRY_AUTH_TOKEN}
      DATABASE_URI: ${DATABASE_URI}
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - .:/opt/app
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "33317:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "33379:6379"
    restart: unless-stopped

volumes:
  mongo_data:
